.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(6px);
    z-index: 1000;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #f5c400;
    font-weight: bold;
    font-size: 18px;
}

.logo img {
    height: 45px;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
    letter-spacing: 1px;
}

.navbar nav a:hover {
    color: #f5c400;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slider 15s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

/* SLIDER ANIMATION */
@keyframes slider {
    0%   { background-image: url("images/bg1.jpg"); }
    33%  { background-image: url("images/bg2.jpg"); }
    66%  { background-image: url("images/bg3.jpg"); }
}.btn-main {
  padding: 12px 30px;
  background: #f5c518;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 80px 40px;
  text-align: center;
}

.services, .booking, .contact {
  section {
    background: #0d0d0d;
    color: white;
    padding: 60px 20px;
  }
}

.service-box div {
  margin: 10px 0;
}

/* MAP */
iframe {
  width: 100%;
  height: 300px;
  border: none;
  margin-top: 20px;
}

/* FOOTER */
footer {
  background: #000;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  }
.services {
    padding: 80px 20px;
    background: #f7f7f7;
    text-align: center;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #555;
    margin-bottom: 40px;
}

.service-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    font-weight: bold;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background: #f5c400;
    color: black;
}
