body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background:
   linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
   url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1");
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 100vh;
}

.container {
  max-width: 450px;
  margin: 80px auto;
  background: rgba(0,0,0,0.75);
  padding: 35px;
  border-radius: 12px;
  animation: fade 1s ease;
}

h1 {
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

button {
  background: #0d6efd;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0b5ed7;
}

@keyframes fade {
  from {opacity:0; transform:translateY(30px)}
  to {opacity:1}
}
